  
{% extends 'student/base.html' %}
{% block content %}

<div>
   {% if registered %}
        <h1>Thanks for registering, Please Log in!</h1>
    {% else %}
        <h1>Registration for Students:</h1>
        <form action="" method="POST">
            {% csrf_token %}
             <div class="form-group">
            {{ var_studentForm.as_p }}

                 </div>
<!--            {{ var_studentAddForm.as_p }}-->
            <input type="submit" value="Register" class="btn btn-primary">
        </form>
<!--    {% endif %}-->
</div>


{% endblock %}